body {
    text-align: center;
  
    font-size: x-large;
    background-image: url(background8.jpeg);
    background-size: cover;
    margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
}

.logo {
  max-width: 175px;
  max-height: 175px;
  position: absolute;
  top: 10px;
  left: 10px;
}

#homesection p{
  color: white;
  font-size: larger;
}

#homesection .transbox {
  background-color: gray(0, 0, 0, 0.6);
  color: white;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

#homesection .transbox {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

 #homesection .transbox h1 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
}

#homesection .transbox h2 {
  font-size: 18px;
  margin-top: 0;
}

#homesection .transbox p {
  font-size: 30px;
  margin-bottom: 0;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color:whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Montserrat',sans-serif;
}

li a:hover:not(.active) {
  background-color: crimson;
}

.active {
  background-color: crimson;
}

#datetime {
  position: fixed;
  top: 10px;
  right: 10px;
  text-align: right;
}

#date {
  font-size: 20px;
  color: white;
}

#time {
  font-size: 20px;
  color: white;
}